.navBar {
  width: 100%;
  background-color: rgba(15, 15, 15, 0.425);
  height: 4.2rem;
  overflow: hidden;
  flex-direction: WRAP;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: sticky;
  top: 0;
  backdrop-filter: blur(0.2rem);
}
.menu-hambur {
  width: 7em;
  display: flex;

  align-items: center;
}
.menu-hambur {
  font-family: "Open Sans", sans-serif;
  color: aliceblue;
}

.logo {
  width: auto;
  height: 3.1rem;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-top: 0.5%;
}

.menu {
  width: auto;
  height: 0.7rem;
}
.menu-items {
  display: flex;

  justify-content: center;
  align-items: center;
  margin-top: -5em;
  left: 0;
  width: 100vw;
  height: 100vh;
  animation: fadeIn 2s ease-out forwards;
}

.contenedor-ul {
  width: 30em;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7em;
}
.nuestro {
  position: relative;
  overflow: hidden;
  width: max-content; /* Ancho de tu contenedor */
  height: 7em; /* Alto de tu contenedor */

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.text-top {
  position: absolute;
  width: max-content;
  height: 100%;
  text-align: center;

  transition: transform 0.2s ease, opacity 0.5s ease; /* Transición suave */
}

.text-top {
  top: 0;
}
.nuestro:hover .text-top {
  transform: translateY(-100%);
  opacity: 0;
}
.text-bottom {
  position: relative;
  top: 100%;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.2s ease;

}
.nuestro:hover .text-bottom {
  transform: translateY(-84%);
  opacity: 1;
}

.nuestro li {
  margin-top: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: #ffffff;
  font-family: "TuskerGrotesk";
  opacity: 0.10;
}
li a {
  color: antiquewhite;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Encode Sans Condensed";
  src: url(https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap);
}
