.footer {
  height: 9em;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-top: 10em;
}
.footer-negro {
  color: black !important;
}
.footer-negro a {
  color: black !important;
}
.volver {
  width: 9em;
}
.volver p {
  font-family: "Open Sans", sans-serif;
}
.laR {
  width: 16em;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.laR img {
  height: 1rem;
  width: 1rem;
}
.segui {
  height: 1em;
  width: 10em;
  position: relative;
pointer-events: none;
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
 
}
.segui p {
  margin: 0;
pointer-events: none;
  transition: all 0.3s ease;
  opacity: 1;
  width: fit-content;

}
.segui svg {
  position: absolute;
  top: 0;
  right: 0;
  transition: right 0.3s ease;
}
.segui .sharef {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  height: 100%;
  pointer-events: auto;
}

.segui .sharef:hover svg {
  right: 100px;
}
.segui:hover  p {
  opacity: 0 !important;
}
.redes {
  height: 2em;
  width: 10em;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer a {
  color: #ffffff;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Encode Sans Condensed";
  src: url(https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap);
}
